[req]
prompt = no
distinguished_name = dn
x509_extensions = v3_ca

[dn]
CN = Versework Local CA

[v3_ca]
basicConstraints = critical, CA:true
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
